# Базовые структуры данных



## Домашнее задание 

### Описание домашнего задания и формат сдачи

Решите предложенные задачи по программированию — впишите свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *jun_anl_data_structures.ipynb* и сохраните изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) загрузите в личный кабинет обучающей онлайн-платформы Skillbox (https://go.skillbox.ru/) и отправьте на проверку.

**NB!** Во всех заданиях обязательно наличие выдачи.

## Индексация списка

**Цель блока заданий:** в данном блоке задач вы потренируетесь вызывать элементы или группы элементов из списка. 

**Рекомендации к выполнению блока заданий:** попробуйте разделить задание на части, поэтапно вызывайте по индексу составные части (которые могут также являться списками) из списка, пока не дойдёте до нужного элемента.

**Критерии оценки:** задания считаются выполненными, если выдача строго соответствует примеру из каждого задания. Допустим, в пятом задании результатом должен быть список с единственным элементом, равным 74.

In [ ]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
Из приведённого выше списка списков выведите с помощью индексов число `7`.

In [22]:
### YOUR CODE HERE ###
L [0][0][6]

7

### 2.
Из приведённого выше списка списков выведите с помощью индексов число `49`.

In [23]:
### YOUR CODE HERE ###
L[2][1][2]

49

### 3.
Из приведённого выше списка списков выведите с помощью индексов число `78`.

In [32]:
### YOUR CODE HERE ###
L[3][7][1][2]

78

### 4.
Из приведённого выше списка списков выведите с помощью индексов (используя **отрицательные значения**) число `99`.

In [26]:
### YOUR CODE HERE ###

L[-1][-2]

99

### 5.
Из приведённого выше списка списков сделайте **срез** с числом `74`.

In [67]:
### YOUR CODE HERE ###

L[3][6:7]

[74]

### 6.
Из приведённого выше списка списков сделайте **срез** с числами `47, 48`.

In [68]:
### YOUR CODE HERE ###

L[2][1][1][0:]

[47, 48]

### 7.
Из приведённого выше списка списков сделайте **срез** с числами `77, 78`.

In [69]:
### YOUR CODE HERE ###

L[3][7][1][1:]

[77, 78]

## Функция range()

**Цель блока заданий:** в данном блоке задач вы закрепите навык генерации числовых последовательностей через функцию range(). В дальнейшем функция range() будет часто использоваться в счётных циклах, а также для решения других задач.

**Рекомендации к выполнению блока заданий:** обратите внимание, что шаг последовательности может быть как «вперед», так и «назад». Для вывода результата в формате списка можно использовать функцию list().

**Критерии оценки:** задания считаются выполненными, если выдача строго соответствует примеру из задания. Использование функций сортировки не допускается.

### 8.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 1, 2, 3, 4]`

In [70]:
### YOUR CODE HERE ###
list(range(5))

[0, 1, 2, 3, 4]

### 9.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[3, 4]`

In [71]:
### YOUR CODE HERE ###

list(range(3, 5))

[3, 4]

### 10.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[4, 8, 12, 16]`

In [72]:
### YOUR CODE HERE ###

list(range(4, 18, 4))

[4, 8, 12, 16]

### 11.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[16, 12, 8, 4]`

In [73]:
### YOUR CODE HERE ###

list(range(16, 3, -4))

[16, 12, 8, 4]

### 12.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 5, 10]`

In [80]:
### YOUR CODE HERE ###

list(range(0, 11, 5))

[0, 5, 10]

### 13.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[10, 5, 0]`

In [81]:
### YOUR CODE HERE ###
list(range(10, -1, -5))

[10, 5, 0]

### 14.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [93]:
### YOUR CODE HERE ###

list(range(-10, 0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 15.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -16, -22, -28, -34]`

In [94]:
### YOUR CODE HERE ###

list(range(-10, -35, -6))

[-10, -16, -22, -28, -34]

## Операторы и типы данных

Этот блок должен быть решён **БЕЗ** использования готовых функций и сторонних библиотек. Используйте операторы.

**Цель блока заданий:** в данном блоке задач вы потренируетесь в использовании базовых операторов в Python.

**Рекомендации к выполнению блока заданий:** выполнить данные задания можно опираясь на знания, полученные в этом и предшествующих модулях. Подумайте, как можно решить задачу простыми инструментами, если вам кажется, что для её выполнения необходим метод, с которым вы не знакомились в этом и предшествующих модулях.

**Критерии оценки:** задания считаются выполенными, если программа выводит корректный ответ в нужном формате. Формат выдачи приведён к каждому заданию. В решении не должны быть задействованы циклы, условия, функции, исключения, которые являются темами следующих модулей. Проверка корректности входных значений не требуется.

### 16.
Часы показывают время в формате h:mm:ss (количество часов (от 0 до 23), двузначное количество минут, двузначное количество секунд). Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа должна запрашивать количество секунд S, которое прошло с начала суток, и выводить в формате h:mm:ss, какое время будут показывать часы. <br><br>

*Формат ввода:* <br>
3600<br><br>

*Формат вывода:* <br>
1:00:00

In [18]:
### YOUR CODE HERE ###

k = int(input("Количество секунд: "))

Количество секунд: 24

In [19]:
h = k / (60 * 60)
m = (h - int(h)) * 60
s = (m - int(m)) * 60
hh = str(int(h))
mm = str(int(m))
ss = str(int(s))
n1 = str('0') * (2 - len(mm))
n2 = str('0') * (2 - len(ss))
itog = hh + ':' + n1 + mm + ':' + n2 + ss
print("Время: " + itog)

Время: 0:00:24

In [1]:
S = int(input('Введите секунды:'))
hours = S // 3600 % 24
minutes = (S % 3600) // 60
seconds = (S % 3600) % 60
print(str(hours)+':'+str(minutes // 10)+str(minutes % 10)+':'+str(seconds // 10)+str(seconds % 10))

Введите секунды:35643
9:54:03

### 17.
Машина выезжает на нулевой километр МКАД и едет по часовой стрелке с постоянной скоростью V километров в час. На каком километре МКАД машина окажется через T часов? 
<br> Длина МКАД: 109 км. <br><br> 

*Формат ввода:* <br>
60 <br>
1
<br><br>
*Формат вывода:* <br>
60

In [51]:
### YOUR CODE HERE ###
V = int(input("Задайте скорость, км/ч: "))
T = int(input('Задайте время, ч: '))

Задайте скорость, км/ч: 60
Задайте время, ч: 3

In [52]:
S = int(V * T)
x = S / 109
itog = S - (109 * (S > 109) * int(x))
print("Километр МКАД: ", itog)

Километр МКАД:  71

### 18.
Напишите программу, которая запрашивает целое пятизначное число и выводит сумму его цифр.

*Формат ввода:* <br>
11111
<br><br>
*Формат вывода:* <br>
5

In [91]:
### YOUR CODE HERE ###
my_list = (input('Введите целое пятизначное число: '))

Введите целое пятизначное число: 55555

In [92]:
a = int(my_list[0])
b = int(my_list[1])
c = int(my_list[2])
d = int(my_list[3])
e = int(my_list[4])
itog = (a + b + c + d + e) * (len(my_list) == 5)
print(itog)

25

In [3]:
num = int(input('Введите пятизначное число:'))
ssum = num // 10000 + (num // 1000) % 10 + ((num // 100) % 10) + ((num % 100) // 10) + (num % 10)
print(ssum)

Введите пятизначное число:55555
25

### 19.
Напишите программу, которая запрашивает целое четырёхзначное число и меняет местами его две первые и две последние цифры.

*Формат ввода:* <br>
5236 
<br><br>
*Формат вывода:* <br>
3652

In [98]:
### YOUR CODE HERE ###
my_list = (input('Введите целое четырёхзначное число: '))

Введите целое четырёхзначное число: 5236

In [99]:
a = str(my_list[0:2])
b = str(my_list[2:4])
print(int(b + a))

3652

In [4]:
num = int(input('Введите четырехзначное число:'))
print(f'{num % 100}{num // 100}')

Введите четырехзначное число:5236
3652

### 20.
Напишите программу, которая на основании параметра D (сколько километров в день преодолевает машина) рассчитывает, сколько дней она затратит на путь длиной P километров.  <br><br>
*Формат ввода:* <br>
105 <br>
120
<br><br>
*Формат вывода:* <br>
2

In [129]:
### YOUR CODE HERE ###
D = int(input("Задайте скорость, км/д: "))
P = int(input('Задайте путь,км: '))

Задайте скорость, км/д: 75
Задайте путь,км: 450

In [130]:
T = float(P / D)
from math import ceil
print(ceil(T))

6

### 21.
Напишите программу, которая считает, сколько рублей и копеек нужно заплатить за N авокадо, если одно авокадо стоит R рублей и K копеек. <br><br>
*Формат ввода:* <br>
40 20 <br>
5
<br><br>
*Формат вывода:* <br>
201 руб. 00 коп.

In [79]:
### YOUR CODE HERE ###
K,R = input('Введите стоимсоть авокадо: ').split(' ')
n = int(input())

Введите стоимсоть авокадо: 40 20
5

In [80]:
x = int(K)
y = int(R)
z = int(x * n)
w = float(y * 0.01 * n)
itog = int(z + w * (w >= 1))
n1 = str('0') * (1 - (w - int(w) >= 0.1))
print(itog, 'руб.', n1 + str(int(w * 100 - 100 * (w >= 1) * int(w))), 'коп.')

201 руб. 00 коп.

In [2]:
R, K = map(int, input('Цена авокадо:').split())
N = int(input('Сколько штук авокадо?: '))
rub = (R * 100 + K) * N
kop = ((R * 100 + K) * N) % 100
print(f'{rub // 100} руб. {kop // 10}{kop % 10} коп.')

Цена авокадо:40 20
Сколько штук авокадо?: 16
643 руб. 20 коп.

### 22.
Пусть организаторы мероприятия неправильно составили гугл-форму и просили людей указывать ФИО в неправильном порядке. Сначала спрашивали имя, потом отчество, затем фамилию. Напишите программу, которая будет переставлять ФИО в нужный порядок. <br> <br> 

*Формат ввода:* <br>
Иван Иванович Иванов<br><br>
*Формат вывода:* <br>
Иванов Иван Иванович

In [112]:
### YOUR CODE HERE ###
x,y,z = input('Введите Ваши данные в формате ИФО: ').split(' ')

Введите Ваши данные в формате ИФО: Иван Иванович Иванов

In [137]:
print(str(z + ' ' + x + ' ' + y))

Иванов Иван Иванович

## Cловари и списки

**Цель блока заданий:** в данном блоке задач вы зарепите навык работы со словарями и списками. В текущем блоке также пригодятся навыки, отработанные в первом блоке настоящего домашнего задания.

**Рекомендации к выполнению блока заданий:** попробуйте работать с большим словарём по тому же принципу, по которому вы вызывали составные элементы из большого списка в первом блоке заданий настоящей работы. Поэтапно вызывайте сначала один многосоставный объект, затем из него извлеките другой, но уже меньший, пока не доберётесь до целевого элемента.

**Критерии оценки:** задания считаются выполненными, если произошли нужные изменения (или их отстутсвие, если того требует условие задания), но при этом не произошло никаких других изменений, которые не описаны в задании. Обратите, пожалуйста, внимание, что программа в 23-й задаче должна быть универсальной, то есть работать не только для нулевого элемента.

### 23.
У вас есть список с заказом в ресторане. Напишите программу, которая меняет указанное по названию блюдо на другое. При этом новое блюдо в списке будет расположено на месте того, что было заменено.

*Формат ввода:* <br>
белое вино<br>
красное вино <br><br>
*Формат вывода:* <br>
`['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']`

In [12]:
order = ['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

In [13]:
### YOUR CODE HERE ###
wrong = input(str('Введите блюдо которое хотите заменить: '))
correct = input(str('Введите блюдо которое хотите добавить: '))

Введите блюдо которое хотите заменить: шоколадный сорбет
Введите блюдо которое хотите добавить: мороженное

In [14]:
x = order.index(wrong)
order[x] = correct
print(order)

['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'мороженное']

__________________
Вам дан словарь c расписанием на неделю.

In [2]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

### 24.
Удалите ключи `суббота` и `воскресенье`. Вместо них добавьте пару, где ключ — это кортеж `суббота, воскресенье`, а значение — список с делом `посадить цветы на даче`. Можно ли сделать ключ `суббота, воскресенье` списком?

In [3]:
### YOUR CODE HERE ###
my_tuple1 = ('суббота')
my_tuple2 = ('воскресенье')
work = ["посадить цветы на даче"]
diary[my_tuple1] = work
diary[my_tuple2] = work
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в театр', 'ужин в кафе']}, 'суббота': ['посадить цветы на даче'], 'воскресенье': ['посадить цветы на даче']}

In [4]:
my_list = ['суббота', 'воскресенье']
work = ["сходить в магазин с женой"]
diary[my_list[0]] = work
diary[my_list[1]] = work
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в театр', 'ужин в кафе']}, 'суббота': ['сходить в магазин с женой'], 'воскресенье': ['сходить в магазин с женой']}

### 25.
Добавьте в список дел во вторник утром `поход к зубному`.

In [6]:
### YOUR CODE HERE ###
diary["вторник"]["утро"] = ['погулять с собакой', 'поход к зубному']
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в театр', 'ужин в кафе']}, 'суббота': ['сходить в магазин с женой'], 'воскресенье': ['сходить в магазин с женой']}

### 26.
Замените `поход в театр` на `поход в кино` в списке дел в пятницу вечером.

In [7]:
### YOUR CODE HERE ###
diary["пятница"]["вечер"][0] = 'поход в кино'
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в кино', 'ужин в кафе']}, 'суббота': ['сходить в магазин с женой'], 'воскресенье': ['сходить в магазин с женой']}

### 27.
Ваш друг вернётся из отпуска на один день раньше, поэтому он заберёт свою собаку в среду, а не в четверг. Удалите дело `погулять с собакой` из соответствующих списков.

In [8]:
### YOUR CODE HERE ###
del diary["четверг"]["утро"][0]
del diary["четверг"]["вечер"][0]
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': [], 'день': [], 'вечер': []}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в кино', 'ужин в кафе']}, 'суббота': ['сходить в магазин с женой'], 'воскресенье': ['сходить в магазин с женой']}

### 28.
Выведите второе дело из списка дел, которые вам нужно сделать в пятницу утром.

In [9]:
### YOUR CODE HERE ###
print(diary['пятница']['утро'][1])

помыть машину